<footer class="text-center text-lg-start text-muted">
    <div class="container p-4">
    <section class="mb-4">
        <a class="btn btn-outline-dark btn-floating m-1" href="https://www.facebook.com/hq5sas" role="button"
        ><img src="https://cdn.icon-icons.com/icons2/1/PNG/256/social_facebook_fb_35.png" width="20" height="20"></a>
      <a class="btn btn-outline-dark btn-floating m-1" href="https://www.instagram.com/hq5_sas/" role="button"
        ><img src="https://cdn.icon-icons.com/icons2/2428/PNG/512/instagram_black_logo_icon_147122.png" width="20" height="20"></a>
        <a class="btn btn-outline-dark btn-floating m-1"  href="https://www.tiktok.com/@hq5_sas" role="button"
        ><img src=" https://cdn.icon-icons.com/icons2/2973/PNG/512/tiktok_logo_icon_186928.png" width="20" height="20"></a>
    </section>
    <section class="mb-4">
        <span>©2022 Copyright: hq5.com.co</span>
    </section>
    </div>
</footer>